footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background: #585742;
}


.main-table a{
text-decoration: none;
color: blue;
cursor: pointer;
}

.main-table a:hover{
text-decoration: none;
color: black;
cursor: pointer;
}

.second-table{
  font-size: 16px;
}
